
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
         list-style: none;
    }
    :root{
        --border: 1px solid;
}
.box{
    width: 1300px;
    height: 800px;
    border: var(--border);
    margin: auto;
    color: red;
}
.top{
    /* justify-content: start center end; */
    display: flex;
    /* justify-content:   space-around; */
    /* align-items: center; */
    width: 100%;
    height: 15%;
    border: var(--border);
}
.top-left{
    
    height: 100%;
    width: 25%;
    border: var(--border);
    
}
.top-right{
    justify-content: start end;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 75%;
    height: 100%;border: var(--border);
}
.top-right-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%;
    border: var(--border);
}
.top-right-left-left{
    width: 70%;
    height: 40%;
    border: var(--border);
}
.top-right-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%;
    border: var(--border);
    
}
.top-right-left-right{
    width: 70%;
    height: 40%;
    border: var(--border);
}
.middle{
    display: flex;
    justify-content: end;
    
    align-items:center ;
    width: 100%;
    height: 42.5%;
    border: var(--border);
}
.middle-box{
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-right: 3%;
    width: 80%;
    height: 80%;border: var(--border);
}
.middle-box-left{
    display: flex;
    justify-content: end;
    align-items: center;
    
    height: 85%;
    width: 40%;
    border: var(--border);
}
.middle-box-left-box{
    width: 50%;
    height: 40%;border: var(--border);
    margin-right: 3%;
}
.middle-box-right{
    display: flex;
    height: 75%;
    align-items: end;
    justify-content: start;
    width: 50%;
    border: var(--border);
}
.middle-box-right-box{
    display: flex;
    width: 40%;
    height: 50%;border: var(--border);
    margin-left: 2%;
    margin-bottom: 2%;
    justify-content: end;
}
.middle-box-right-box-box{
    width: 50%;height: 50%;
    border: var(--border);
    margin: 2%;
}
.bottom{
    width: 100%;
    height: 42.5%;
    border: var(--border);
}
.bottom-boxs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 100%;
    height: 100%;
    border: var(--border);
}
.bottom-box-box{
    width: 20%;
    height: 50%;border: var(--border);
}
.bottom-box-box-last{
    width: 20%;
    height: 15%;
    border: var(--border);
    margin-top: 110px;
}

